<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--icon için link-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    <!--BOOTSTRAP için link-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
        integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <title>Dattebasa</title>
    <style>
        * {
            box-sizing: border-box;
        }

        body {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        ul,
        li {
            list-style-type: none;
            padding: 0;
            margin: 10px;
        }

        .grid-wrap {
            position: relative;
            margin: 0;
            padding: 30px 20px;
        }

        .grid-wrap ul {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(80px, auto));
            grid-auto-flow: dense;
            gap: 2px;
            justify-content: center;
            margin: 0 auto;
            padding: 0;
        }

        .grid-wrap ul li {
            position: relative;
            grid-row: span 2;
            grid-column: span 4;
        }

        .grid-wrap ul img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .grid-wrap ul li:hover {
            filter: opacity(0.8);
            transition: .1s;
        }
    </style>
</head>

<body style="background-color:rgb(253, 187, 181)">

    <%- include("htmlparça/navbar") %>


        <div class="grid-wrap">
            <ul>
                <% fotoabout.forEach(foto=> { %>
                    <li class="li">


                        <a href="/animeler/<%= name %>/<%= foto.numb %>">
                            <img class="img-keeper" src="<%= foto.fotourl %>">
                        </a>



                    </li>
                    <% }) %>
            </ul>
        </div>


        <%- include("htmlparça/footer") %>




        <script>
            const fotoItems = document.querySelectorAll('.li');
        
            fotoItems.forEach(function (fotoItem) {
                let resim = fotoItem.querySelector('img');
                let genislik = resim.naturalWidth;
                let yukseklik = resim.naturalHeight;
        
                if (genislik > yukseklik) {
                    fotoItem.style.gridColumn = "span 4"; 
                } else {
                    fotoItem.style.gridColumn = "span 3"; 
                }
            });
        </script>
        


            <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
                integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
                crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
                integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
                crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js"
                integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+"
                crossorigin="anonymous"></script>
</body>

</html>