<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--icon için link-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    <!--BOOTSTRAP için link-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
        integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <title>Dattebas</title>
    <style>
        .fotokeeper {
            display: flex;
            flex-wrap: wrap;
            justify-content: start;
            align-items: center;
            padding: 30px;   
            min-height: 100vh;
            height: auto;

        }

    

        .image-wrapper {
            flex-basis: calc(25% - 20px);
            margin: 10px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .img-keeper {
            max-width: 100%;
            height: auto;
            
        }
        .img-keeper:hover {
            transform: scale(1.2);
            border: 3px solid black;
            transition: transform 0.8s, border 0.3s;
        }



        @media (max-width: 992px) {
            .image-wrapper {
                flex-basis: calc(33.33% - 20px);
            }
        }

        @media (max-width: 768px) {
            .image-wrapper {
                flex-basis: calc(50% - 20px);
            }
        }

        @media (max-width: 576px) {
            .image-wrapper {
                flex-basis: calc(100% - 20px);
            }
        }
    </style>
</head>

<body style="background-color:rgb(253, 187, 181)">

    <%- include("htmlparça/navbar") %>


        <div class="container-fluid fotokeeper" id="fotokeeper">
            <% fotoabout.forEach(foto=> { %>

                <div class="image-wrapper">
                    <div>
                        <a href="/animeler/<%= name %>/<%= foto.numb %>">
                            <img class="img-keeper" src="<%= foto.fotourl %>">
                        </a>
                    </div>
                    <div class="dimensions-keeper"></div>
                </div>

                <% }) %>
        </div>


        <%- include("htmlparça/footer") %>





        <script>
            /* BOYUTLARI YAZDIRMAK İÇİN*/
            const fotoItems = document.querySelectorAll('.image-wrapper');

            window.addEventListener('load', function () {
                const fotoItems = document.querySelectorAll('.image-wrapper');

                fotoItems.forEach(function (fotoItem) {
                    let resim = fotoItem.querySelector('img');
                    let genislik = resim.naturalWidth;
                    let yukseklik = resim.naturalHeight;

                    let dimensionsDiv = document.createElement('div');
                    dimensionsDiv.textContent = "Orjinal boyut =" + genislik + 'x' + yukseklik;
                    dimensionsDiv.style.color = "gray";

                    const dimensionsKeeper = fotoItem.querySelector('.dimensions-keeper');
                    dimensionsKeeper.appendChild(dimensionsDiv);
                });

                const body = document.querySelector("body");
                const pageHeight = window.innerHeight;

                if (body.offsetHeight < pageHeight) {
                    console.log('1');
                } else {
                    console.log('2');
                }
            });
            /* BOYUTLARI YAZDIRMAK İÇİN*/
        </script>


        <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
            integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
            crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js"
            integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+"
            crossorigin="anonymous"></script>
</body>

</html>
